@import "../../../../../assets/sass/_global_styles";
.crew-members {
  .circle-container {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    .circle-container {
      &.wrapper {
        transform: none !important;
        display: flex;
        flex-direction: row;
        border-top: 0.5px solid $color-gray-4;
        padding: 10px 20px 12px;
        .crew-image {
          width: 84px;
          height: 84px;
          &.pnc-no-image {
            color: $color-white;
            background-color: $color-dark-orange;
            line-height: 38px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            span {
              font-size: 30px;
              font-weight: 500;
            }
          }
          &.client-no-image {
            color: $color-white;
            background-color: $color-light-blue;
            line-height: 38px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            span {
              font-size: 30px;
              font-weight: 500;
            }
          }
        }
        .star-icon {
          width: 18px;
          height: 18px;
          margin-left: -12px;
          margin-top: 10px;
        }
        .text-name {
          margin-left: 12px;
          color: $color-blue;
          padding-top: 22px;
          .crew-name,
          .crew-role {
            font-size: 16px;
            line-height: 24px;
            margin: 0;
          }
          .crew-role {
            font-weight: normal;
          }
        }
      }
    }
  }
}
.placeholder-circle {
.text-name {
  padding-left: 5px;
}
}
